node_modules/
.env
.venv/
package.json
yarn.lock  
package-lock.json
save-n-bite-backend/test_media/

# Virtual environment
venv/
*.pyc
__pycache__/
*.swp
*.swo
save-n-bite-backend/logs/django.log
save-n-bite-backend/logs/django.log
save-n-bite-backend/logs/django.log
save-n-bite-backend/logs/django.log
save-n-bite-backend/logs/django.log
__azurite_db_blob__.json
save-n-bite-backend/logs/django.log
save-n-bite-backend/logs/django.log
__azurite_db_blob__.json
